<h2>
  {{ 'admin.mediasoup' | translate }}
</h2>
<form [formGroup]="configForm">
  <div formArrayName="configs">
    <div *ngFor="let config of configs.controls; let i=index" [formGroupName]="i">

      <mat-form-field class="url-wrapper">
        <mat-label>{{ 'admin.url' | translate }}</mat-label>
        <input matInput formControlName="url"  [errorStateMatcher]="matcher">
        <mat-error *ngIf="config.controls['url']?.hasError('required')">
          {{ 'admin.urlRequired' | translate }}
        </mat-error>
        <mat-error *ngIf="config.controls['url']?.hasError('pattern')">
          {{ 'admin.invalidUrl' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'admin.username' | translate }}</mat-label>
        <input matInput formControlName="username"  [errorStateMatcher]="matcher">
        <mat-error *ngIf="config.controls['username']?.hasError('required')">
          {{ 'admin.usernameRequired' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'admin.secret' | translate }}</mat-label>
        <input matInput formControlName="password"  [errorStateMatcher]="matcher">
        <mat-error *ngIf="configForm.controls['password']?.hasError('required')">
          {{ 'admin.passwordRequired' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'admin.numberOfSessions' | translate }}</mat-label>
        <input type="number" matInput formControlName="maxNumberOfSessions"  [errorStateMatcher]="matcher">
        <mat-error *ngIf="configForm.controls['maxNumberOfSessions']?.hasError('required')">
          {{ 'admin.sessionsRequired' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-slide-toggle formControlName="active"></mat-slide-toggle>

      <button mat-button (click)="deleteConfig(i)">{{ 'admin.delete' | translate }}</button>
      <button mat-raised-button (click)="save(i)" class="ml-10">{{ 'admin.save' | translate }}</button>

    </div>
  </div>
  <div>
    <button mat-raised-button (click)="addConfig()">{{ 'admin.addNewConfig' | translate }}</button>
  </div>
</form>

