<form *ngIf="myForm" class="invite-form" [formGroup]="myForm" (submit)="onSubmit()">

    <div class="field-container">
        <!-- useful if manage multiple role mat-form-field>
            <mat-label class="label">Role</mat-label>
            <mat-select formControlName="roleFormControl" required [(ngModel)]="user.role"
                [errorStateMatcher]="matcher">
                <mat-option>--</mat-option>
                <mat-option value="doctor">Docteur</mat-option>
                <mat-option value="nurse">Infirmière</mat-option>
                <mat-option value="admin">Admin</mat-option>
                <mat-option value="patient">Patient</mat-option>

            </mat-select>
            <mat-error *ngIf="myForm.controls.roleFormControl.hasError('required')">Veuillez choisir un role
            </mat-error>
        </mat-form-field-->
        <mat-form-field *ngIf="user.role == 'patient'">
            <mat-label class="label">{{ 'admin.gender' | translate }}</mat-label>
            <mat-select formControlName="genderFormControl" required [(ngModel)]="user.gender"
                [errorStateMatcher]="matcher">
                <mat-option>--</mat-option>
                <mat-option value="male">{{ 'admin.male' | translate }}</mat-option>
                <mat-option value="female">{{ 'admin.female' | translate }}</mat-option>
            </mat-select>
            <mat-error *ngIf="myForm.controls.genderFormControl.hasError('required')">{{ 'admin.chooseGender' | translate }}
            </mat-error>
        </mat-form-field>
    </div>

    <div class="field-container">
        <mat-form-field>
            <mat-label class="label">{{ 'admin.firstName' | translate }}</mat-label>
            <input [(ngModel)]="user.firstName" matInput [placeholder]="'admin.firstNamePlaceholder' | translate"
                formControlName="firstNameFormControl" [errorStateMatcher]="matcher" required />

            <mat-error *ngIf="myForm.controls.firstNameFormControl.hasError('required')">
                {{ 'admin.firstNameRequired' | translate }}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label class="label">{{ 'admin.lastName' | translate }}</mat-label>
            <input [(ngModel)]="user.lastName" matInput [placeholder]="'admin.lastNamePlaceholder' | translate"
                formControlName="lastNameFormControl" [errorStateMatcher]="matcher" required />

            <mat-error *ngIf="myForm.controls.lastNameFormControl.hasError('required')">
                {{ 'admin.lastNameRequired' | translate }}
            </mat-error>
        </mat-form-field>
    </div>
    <div class="field-container">
        <mat-form-field>
            <mat-label class="label">{{ 'admin.email' | translate }}</mat-label>
            <input [(ngModel)]="user.email" matInput [placeholder]="'admin.email' | translate" formControlName="emailFormControl"
                [errorStateMatcher]="matcher" />

            <mat-error *ngIf="myForm.controls.emailFormControl.hasError('required')">
                {{ 'admin.emailRequired' | translate }}
            </mat-error>
            <mat-error *ngIf="myForm.controls.emailFormControl.hasError('email') && !myForm.controls.emailFormControl.hasError('required')">
                {{ 'login.pleaseProvideAValidEmail' | translate }}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label class="label">{{ 'admin.mobileNumber' | translate }}</mat-label>
            <input [(ngModel)]="user.phoneNumber" matInput [placeholder]="'admin.authPhonePlaceholder' | translate"
                formControlName="phoneNumberFormControl" [errorStateMatcher]="matcher" name="phoneNumber" />

            <mat-error *ngIf="myForm.controls.phoneNumberFormControl.hasError('pattern')">
                {{ 'admin.phoneFormatError' | translate }}
            </mat-error>
        </mat-form-field>
    </div>
    <div *ngIf="!user?.id" class="field-container">
        <mat-form-field>
            <mat-label class="label">{{ 'admin.initialPassword' | translate }}</mat-label>
            <input [(ngModel)]="initialPassword" type="password" matInput
                [placeholder]="'admin.initialPasswordPlaceholder' | translate"
                formControlName="initialPasswordFormControl" [errorStateMatcher]="matcher" />
            <mat-hint>{{ 'admin.initialPasswordHint' | translate }}</mat-hint>
            <mat-error *ngIf="myForm.controls.initialPasswordFormControl.hasError('minlength')">
                {{ 'admin.initialPasswordMinLength' | translate }}
            </mat-error>
        </mat-form-field>
    </div>
    <div *ngIf="user.role=='doctor'">
        <div class="field-container">
            <mat-form-field>
                <mat-label class="label">{{ 'admin.department' | translate }}</mat-label>
                <input [(ngModel)]="user.department" matInput [placeholder]="'admin.departmentPlaceholder' | translate"
                    formControlName="departmentFormControl" [errorStateMatcher]="matcher" />
            </mat-form-field>
            <mat-form-field>
                <mat-label class="label">{{ 'admin.function' | translate }}</mat-label>
                <input [(ngModel)]="user._function" matInput [placeholder]="'admin.functionPlaceholder' | translate"
                    formControlName="functionFormControl" [errorStateMatcher]="matcher" name="_function" />
            </mat-form-field>
        </div>
        <div class="field-container">
            <mat-checkbox formControlName="viewAllQueuesFormControl" [(ngModel)]="user.viewAllQueues"> {{ 'admin.viewAllQueues' | translate }}</mat-checkbox>
        </div>
    </div>
    <div *ngIf="user.role=='doctor' || user.role=='admin'">
        <div class="field-container" style="margin-top: 10px;">
            <mat-form-field>
                <mat-label class="label">{{ 'admin.authPhoneNumber' | translate }}</mat-label>
                <input [(ngModel)]="user.authPhoneNumber" matInput [placeholder]="'admin.authPhonePlaceholder' | translate"
                    formControlName="authPhoneNumberFormControl" [errorStateMatcher]="matcher" />
                <mat-error *ngIf="myForm.controls.authPhoneNumberFormControl.hasError('pattern')">
                    {{ 'admin.phoneFormatError' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="cancel()" type="button">
            {{ 'admin.cancel' | translate }}
        </button>
        <button class="btn__send" [disabled]="loading || !myForm?.valid" type="submit" mat-button>
            {{ 'admin.send' | translate }}
        </button>
    </div>
</form>